.slot_oggetto {
  width: 7dvw;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-top: 10px;
  height: auto;
}

.slot_oggetto > span {
  text-align: center;
  font-size: 0.95rem;
  margin-bottom: 8px;
  line-height: 1.2;
}

.anteprima {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  border: 2px solid #ddd;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.anteprima:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.selezionato {
  border: solid green 3px;
}

/* Azioni Shop */
.azioni-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: auto;
  width: 100%;
  align-items: center;
}

.btn-prova,
.btn-compra {
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  width: 90%;
  transition: all 0.2s;
}

.btn-prova {
  background-color: #ddd;
  color: #333;
}
.btn-prova:hover {
  background-color: #ccc;
}

.btn-compra {
  background-color: #ffd700;
  color: #333;
  font-weight: bold;
}
.btn-compra:hover {
  transform: scale(1.05);
}

.span_acquisto {
  font-size: 1.1rem;
}
