* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#main {
  flex-grow: 1;
  width: 100%;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  padding: 20px 0;
  overflow: hidden;
}

.finestra {
  box-shadow: 5px 5px 30px rgb(0, 0, 0);
  border-radius: 10px;
  background-color: var(--bg-color);
  border: 2px solid color-mix(in srgb, var(--bg-color), white 10%);
  max-height: 85dvh;
  max-width: 95vw;
  overflow-x: hidden;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-color: color-mix(in srgb, var(--bg-color), black 50%) var(--bg-color);
  position: relative;
  bottom: 10px;
}
