* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

#main {
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: top;
  background-image: var(--bg-pattern);
  background-repeat: repeat;
  background-attachment: fixed;
  box-sizing: border-box;
}

.finestra {
  box-shadow: 5px 5px 30px rgb(0, 0, 0);
  border-radius: 10px;
  background-color: var(--bg-color);
  border: 2px solid color-mix(in srgb, var(--bg-color), white 10%);
}
